<section>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <div class="slide-inner" style="background-image: url(./../../assets/superman.jpg)">
          <div class="container">
            <div class="slide-content text-dark">
              <h5><b>2020</b></h5>
              <h2 class="slide-title">Superman</h2>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="slide-inner" style="background-image: url(./../../assets/batman.jpg)">
          <div class="container">
            <div class="slide-content">
              <h5><b>2020</b></h5>
              <h2 class="slide-title">Batman</h2>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
