// Form
.form-control {
  width: 100%;
  font-size: 18px;
  line-height: 1.23;
  border: 1px solid #fff;
  padding: 15px 70px 15px 15px;
  background-color: #fff;
  color: #202020;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #C4C4C4;
  }
}

.form-group {
  position: relative;
  max-width: 540px;
}

.form-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #c4c4c4;
  transition: .25s ease;

  &:hover {
    color: #202020;
  }
}

// Spacing
h1 + .form {
  margin-top: 40px;
}

// Media
@media( min-width: 768px ) {
  .form-control {
    padding: 23px 70px 23px 23px;
  }
}


// Search results
* + .search-results {
  margin-top: 100px;
}

.search-results-list-item + .search-results-list-item {
  margin-top: 50px;
}


// Media
@media( min-width: 1200px ) {
  .search-results {
    max-width: 765px;
    margin-left: auto;
  }

  * + .search-results {
    margin-top: 150px;
  }
}


// Live search
.live-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #202020;
  background: #fff;
}

.live-search-results-list-item + .live-search-results-list-item {
  margin-top: 10px;
}


// Movie
.movie {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #878787;
  transition: .25s ease;

  &:hover {
    color: #fff;
  }
}

.movie-poster {
  width: 100px;
  margin-right: 20px;
  flex-shrink: 0;
}

.movie-body {
  width: 100%;
}

.movie-title {
  font-weight: 500;
  margin-bottom: 10px;
  transition: transform .3s ease;
}


// Media
@media( min-width: 768px ) {
  .movie-body {
    display: flex;
    justify-content: space-between;
  }

  .movie-title {
    flex: 0 0 70%;
    max-width: 70%;
    margin-bottom: 0;
  }

  .movie-details {
    text-align: right;
  }
}

@media( min-width: 1200px ) {
  .movie {
    &:hover {
      .movie-poster {
        transform: none;
        visibility: visible;
        opacity: .6;
      }

      .movie-title {
        transform: translateX( -40px );
      }
    }
  }

  .movie-poster {
    position: absolute;
    top: -194px;
    left: -336px;
    z-index: -1;
    width: 420px;
    transform: translateX( -10% );
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
  }
}


// Movie mini
.movie-mini {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #202020;
  transition: .2s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.movie-mini-poster {
  width: 50px;
  height: auto;
  margin-right: 10px;
}


// Pagination
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pagination-items {
  flex-basis: 100%;
  margin-bottom: 15px;
}

.pagination-button {
  display: inline-flex;
  align-items: center;
}

.pagination-button-prev,
.pagination-button-next {
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;

  > * {
    transition: .25s ease;
  }
}

.pagination-button-prev {
  margin-right: 20px;

  &:hover > * {
    transform: translateX( -5px );
  }
}

.pagination-button-next {
  margin-left: 20px;

  &:hover > * {
    transform: translateX( 5px );
  }
}

* + .pagination {
  margin-top: 70px;
}

@media( min-width: 768px ) {
  .pagination-items {
    flex-basis: auto;
    margin-bottom: 0;
  }

  * + .pagination {
    margin-top: 100px;
  }
}


// Offset
.offset-negative {
  margin-top: -26px;

  @media( min-width: 768px ) {
    margin-top: -36px;
  }

  @media( min-width: 1200px ) {
    margin-top: -46px;
  }
}
